@using B_Solutions.Enums
@model ProjetoModel
@{
    ViewData["Title"] = "Adicionar projeto";
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form asp-controller="Projetos" asp-action="Adicionar" method="post" class="row g-3">

    <div class="row g-3">
        <div class="col-md-4">
            <labal class="form-label">Concessionaria</labal>
            <select class="form-select" asp-for="projetoConcessionaria">
                <option value="">Selecione</option>
                <option value="@ConcessionariasEnums.CEEE">CEEE</option>
                <option value="@ConcessionariasEnums.RGE">RGE</option>
                <option value="@ConcessionariasEnums.COPREL">COPREL</option>
                <option value="@ConcessionariasEnums.CERTEL">CERTEL</option>
                <option value="@ConcessionariasEnums.CERFOX">CERFOX</option>
                <option value="@ConcessionariasEnums.CERTAJA">CERTAJA</option>
                <option value="@ConcessionariasEnums.NOVAPALMAENERGIA">NOVA PALMAE NERGIA</option>
                <option value="@ConcessionariasEnums.DAER">DAER</option>
                <option value="@ConcessionariasEnums.DNIT">DNIT</option>
            </select>
            @Html.ValidationMessageFor(x => x.projetoConcessionaria)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Tipo de projeto</labal>
            <select class="form-select" asp-for="projetoTipo">
                <option value="">Selecione</option>
                <option value="@TiposEnum.Compartilhamento">Compartilhamento</option>
                <option value="@TiposEnum.AnteProjeto">Ante Projeto</option>
                <option value="@TiposEnum.Pingamento">Pingamento</option>
                <option value="@TiposEnum.FTTH">FTTH</option>
                <option value="@TiposEnum.Travessia">Travessia</option>
                <option value="@TiposEnum.Outros">Outros</option>
            </select>
            @Html.ValidationMessageFor(x => x.projetoTipo)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Status do projeto</labal>
            <select class="form-select" asp-for="projetoStatus">
                <option value="">Selecione</option>
                <option value="@SituacaoEnum.Aprovado">Aprovado</option>
                <option value="@SituacaoEnum.Reprovado">Reprovado</option>
                <option value="@SituacaoEnum.Arquivado">Arquivado</option>
                <option value="@SituacaoEnum.EmAnalise">Em Analise</option>
                <option value="@SituacaoEnum.SemStatus">Sem Status</option>
            </select>
            @Html.ValidationMessageFor(x => x.projetoStatus)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Empresa</labal>
            <input type="text" asp-for="projetoEmpresa" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoEmpresa)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Protocolo</labal>
            <input type="text" asp-for="projetoProtocolo" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoProtocolo)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Nome do projeto</labal>
            <input type="text" asp-for="projetoNome" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoNome)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Localidade</labal>
            <input type="text" asp-for="projetoLocalidade" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoLocalidade)
        </div>
        <div class="col-md-4">
            <labal class="form-label">N° ART</labal>
            <input type="text" asp-for="projetoART" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoART)
        </div>
        <div class="col-md-4">
            <labal class="form-label">Engenheiro</labal>
            <input type="text" asp-for="projetoEngenheiro" class="form-control">
            @Html.ValidationMessageFor(x => x.projetoEngenheiro)
        </div>
        <div class="col-md-12">
            <labal class="form-label">Campo de anotação</labal>
            <textarea class="form-control" rows="6" asp-for="projetoObservacao"></textarea>
            @Html.ValidationMessageFor(x => x.projetoObservacao)
        </div>
    </div>
    <br />
    <a class="btn btn-danger" asp-controller="Projetos" asp-action="Index" role="button">Voltar</a>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
